$Alizarin-Crimson: #DC2424;
$Bay-of-Many: #253C94;
$Periwinkle-Gray: #C8CFE5;
$Brick-Red: #B42C44;
html {
    background-image: url(../assests/lounge-blur.png);
}  
header{
    display: flex;
    justify-content: center;
    background-color: $Brick-Red;
    .timer{
margin-right: 5px;
    }
}
section{
    display: flex;
    background-color: $Bay-of-Many;
    justify-content: center;
    #randomValue{
        margin-right: 5px;
    }
}
footer{
background-color: $Brick-Red;
}