@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
$globalFont: Lato;
$globalSubfont: arial;

$colorBtn: #efefef;
$bg-colorBtn:  #111111;

$colorCards: black;
$bg-colorCards:  #273C92;
$bg-colorCards2:  #484242;

$blue: #273C92;
$red: #d02e27;
$orange: #d0ba27;
$white: #efefef;
$bg-color: #3A3A3C;
$grey: rgba(59, 59, 59, 0.904);
html {
background-color: $blue;
font-family: cabin;
}
header {
  display: flex;
  justify-content: center;
}
.Header-Img {
  width: 200px;
  margin-bottom: 15vh;
}
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
$globalFont: Lato;
$globalSubfont: arial;

$colorBtn: #efefef;
$bg-colorBtn:  #111111;

$colorCards: black;
$bg-colorCards:  #273C92;
$bg-colorCards2:  #484242;

$blue: #273C92;
$red: #d02e27;
$orange: #d0ba27;
$white: #efefef;
$bg-color: #3A3A3C;
$grey: rgba(59, 59, 59, 0.904);
html {
background-color: $blue;
font-family: cabin;
}
header {
  display: flex;
  justify-content: center;
}
.Header-Img {
  width: 200px;
  margin-bottom: 15vh;
}
//Forside
.Tab {
	border-radius: 19px;
	background: #253C94;
	box-shadow:  -23px 23px 47px #1b2b6b,
				 23px -23px 47px #2f4dbd;
	font-size: 150%;
	font-family: cabin;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	display: flex;
	justify-content: end;
	h1{
		margin-right: 40vw;
		margin-top: 7vh;
		font-size: 30px;
		color: #efefef;
	}
	img {
	  width: 50px;
	  height: 50px;
	  padding-top: 60px;
	  padding-bottom: 50px;
	  content: url(../assests/arrow-24-512.png);
	}
} 


//Credits
main{
	color: #efefef;
	h1{
		text-align: center;
		font-size: 50px;
	}
	section{
		ul{
			text-align: center;
			list-style: none;
			li{
				font-size: 20px;
			}
		}
		h2{
			text-align: center;
			font-size: 35px;
		}
	}
}