$colorBtn: #efefef;
$bg-colorBtn:  #111111;

$colorCards: black;
$bg-colorCards:  #273C92;
$bg-colorCards2:  #484242;

$blue: #273C92;
$red: #d02e27;
$orange: #d0ba27;
$white: #efefef;
$bg-color: #3A3A3C;
$grey: rgba(59, 59, 59, 0.904);