 
@use "./colors" as *;
@use "./fonts" as *;

.Games-add{
    background-color: $white;
    padding: 10px;
    border-radius: 50px;
    bottom: -2px;
    right: 0;
    margin: 20px;
    position: fixed;
	font-size: 45px;
	color: black;
  }