 
@use "./colors" as *;
@use "./fonts" as *;

.multi-player {
	color: gainsboro;
	text-align: left;
	font-size: 10px;
	margin-top: 5vh;
    figcaption {
		color: gainsboro;
		text-align: left;
		font-size: 20px;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	h1{
		text-align: center;
	}
}