 
@use "./colors" as *;
@use "./fonts" as *;

header {
    display: flex;
    justify-content: center;
  }
  
  .Header-Img {
    width: 200px;
    margin-bottom: 100px;
  }
  .filler-section{
    padding: 100px;
  }