 
@use "./colors" as *;
@use "./fonts" as *;

#reglerMain{
	color: #efefef;
	h1{
		text-align: center;
		font-size: 50px;
	}
	section{
		display: grid;
		justify-content: center;
		article{

		ul{
		list-style: none;
		li{

		}
		h2{

		}
	}
	}
	}
	
	h3{
		text-align: center;
		font-size: 35px;
	}
	a{
		text-align: center;
		font-size: 35px;
	}
}