@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
header {
  display: flex;
  justify-content: center;
}

.Header-Img {
  width: 200px;
}

.filler-section {
  padding: 100px;
}

.Bustider-Tab {
  border-radius: 19px;
  background: #253C94;
  box-shadow: -23px 23px 47px #1b2b6b, 23px -23px 47px #2f4dbd;
  font-size: 150%;
  font-family: cabin;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: end;
}
.Bustider-Tab img {
  width: 50px;
  height: 50px;
  padding-top: 60px;
  padding-bottom: 50px;
  content: url(../assests/arrow-24-512.png);
}
.Bustider-Tab h1 {
  padding: 20px;
  width: 90%;
  padding-top: 0;
  margin-top: 0;
  color: white;
}
.Bustider-Tab h1 p {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
  border-top: solid white 1.5px;
  width: 90%;
}
.Bustider-Tab h1 p a {
  color: white;
  text-decoration: none;
  width: 90%;
}
.Bustider-Tab h1 p span {
  margin: 0;
  padding: 0;
  width: 90%;
}

.Kantinen-Tab {
  border-radius: 19px;
  background: #253C94;
  box-shadow: -23px 23px 47px #1b2b6b, 23px -23px 47px #2f4dbd;
  font-size: 150%;
  font-family: cabin;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: end;
}
.Kantinen-Tab img {
  height: 50px;
  width: 50px;
  padding-top: 70px;
  padding-bottom: 50px;
  content: url(../assests/arrow-24-512.png);
}

h1 {
  padding: 20px;
  width: 90%;
  color: white;
}
h1 p {
  margin: 0;
  font-size: large;
  color: white;
  border-top: solid white 1.5px;
  width: 90%;
}
h1 a {
  color: white;
  text-decoration: none;
}

.a-kantinen {
  padding-right: 70%;
  padding-top: 40px;
  padding-bottom: 60px;
}

.yderligereInfo-Tab {
  border-radius: 19px;
  background: #253C94;
  box-shadow: -23px 23px 47px #1b2b6b, 23px -23px 47px #2f4dbd;
  font-size: 150%;
  font-family: cabin;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  display: flex;
}
.yderligereInfo-Tab h1 {
  padding: 20px;
  width: 90%;
  color: white;
}
.yderligereInfo-Tab h1 a {
  color: white;
  text-decoration: none;
}
.yderligereInfo-Tab img {
  width: 50px;
  height: 50px;
  padding-top: 60px;
  padding-bottom: 50px;
  content: url(../assests/arrow-24-512.png);
}

.a-yderligereinfo {
  padding-right: 60%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.Fredagsbar-Tab {
  border-radius: 19px;
  background: #253C94;
  box-shadow: -23px 23px 47px #1b2b6b, 23px -23px 47px #2f4dbd;
  font-size: 150%;
  font-family: cabin;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: end;
}
.Fredagsbar-Tab h1 {
  padding: 20px;
  width: 90%;
  color: white;
}
.Fredagsbar-Tab h1 a {
  color: white;
  text-decoration: none;
}
.Fredagsbar-Tab img {
  width: 50px;
  height: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  content: url(../assests/arrow-24-512.png);
}

.a-fredagsbar {
  padding-right: 70%;
  padding-top: 40px;
  padding-bottom: 60px;
}

html {
  background-color: #273C92;
  font-family: Cabin;
}
html a {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */