@use "./header";
@use "./colors" as *;
@use "./fonts" as *;
@use "./bustiderTapForside";
@use "./kantineTapForside";
@use "./yderligereInfoTapForside";
@use "./socialTapForside";
@use "./yderligereForsideTab";
@use "./yderligereCreditsCreditMain";
@use "./yderligereReglerReglerMain";
@use "./socialTopArrow";
@use "./socialMainSection";
@use "./socialGamesButton";
@use "./kantineCard-One";
@use "./gamesAll";
@use "./gamesUnderholdningTitel";
@use "./gamesGamesAddButton";
@use "./gamesFredagsbaren";
@use "./gamesSingle-player";
@use "./gamesMulti-player";
@use "./gamesRoundedOne";
@use "./gamesRoundedTwo";
@use "./gamesGrid";


html {
background-color: $blue;
font-family: Cabin;
color: $white;
a{
  text-decoration: none;
}
}