@use "./bustiderTapForside";
@use "./kantineTapForside";
@use "./yderligereTapForside";
@use "./socialTapForside";
@use "./header";
@use "./colors" as c;
@use "./fonts" as f;

html {
background-color: c.$blue;
font-family: Cabin;
a{
  text-decoration: none;
}
}