@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css?family=Righteous');
html {
  background-image: url(../assests/lounge-blurred.png);
  background-repeat: no-repeat;
  background-size: cover;
}


header {
  display: flex;
  justify-content: center;
}

.arrow {
	position: absolute;
	top: 1em;
  left: 2em;
	width: 10px;
	height: 10px;
	background: transparent;
	border-top: 3px solid #fff;
	border-right: 3px solid #fff;
	box-shadow: 0 0 0 lightgray;
	transition: all 200ms ease;
	
	&.back {
		left: 6em;
    top: 6em;
		transform: translate3d(0,-50%,0) rotate(-135deg);
	}	
	&:hover {
		border-color: darkblue;
		box-shadow: 0.5vmin -0.5vmin 0 #fff;
	}
	
	&:before { 
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-40%,-60%) rotate(45deg);
		width: 200%;
		height: 200%;
	}
}

.Header-Img {
  width: 200px;
}

.filler-section{
  padding: 50px;
}
.main-section{
  text-align: center;
}
.container{
  color: white;
  font-family: cabin;
}
#countdown{
  display: flex;
  justify-content: center;
  label{
    margin-right: 0;
    margin-left: 40px;
  }
  p{
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #dage{
font-size: 300%;
  }
  #timer{
    font-size: 300%;
    
      }
      #minutter{
        font-size: 300%;
          }
          #sekunder{
            font-size: 300%;
              }
}
.Games-a{
  background-color: white;
  padding: 10px;
  border-radius: 50px;
  bottom: 0;
  right: 0;
  margin: 50px;
  position: fixed;
}
footer{
  bottom: 0;
  position: fixed;
  img{
    width: 20vw;
    margin: 10px;
  }
}
.footer-div{
  display: flex;
  justify-content: center;
}